.jumbotron{
    padding-top : 10px;
}

.title{
    font-family: 'Source Sans Pro 700px', sans-serif;
    text-align: center;
}

.jumbotron p{
    font-size: 20px;
}

.text{
    font-family: 'Source Sans Pro 300px', sans-serif;
}

.titulo{
    font-family: 'Source Sans Pro 300px', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}

#score{
    height: 20px;
    background:  #004f99;

}

#numb{
    height: 20px;
    background:  #0077e6;
}

#results{
    height: 20px;
    background:  #1a90ff;
}

#randomNumb{
    height: 150px;
    background:  #0077e6;
}

#gameResults{
    height: 150px;
    background:  #1a90ff;
}

#totalScore{
    height: 150px;
    background:  #004f99;
}

#randomNumb p,
#gameResults p,
#totalScore p {
    font-family: 'Source Sans Pro 300px', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
}


img{
    height: 100px;
    width: 100px;
}
